@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  /* letter-spacing: 2px; */
}
header {
  padding: 10px 30px;
  position: relative;
  z-index: 10;
}
.logo {
  background-image: url("newnetflix.png");
  height: 73px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  /* border: 2px solid red; */
}
.language {
  background-color: transparent;
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  right: 148px;
  font-size: 17px;
}
nav {
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 50px;
}

nav button {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.503), rgba(0, 0, 0, 0.719)),
    url("image/main-file.jpg");
  /* border: 3px solid black; */
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -100px;
}

.hero-content {
  text-align: center;
  position: absolute;
  /* border: 4px solid white; */
  top: 230px;
  left: 379px;
}

.hero-content h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.hero-content h2 {
  color: white;
  font-size: 25px;
  padding: 10px 0px;
}
.hero-content p {
  color: white;
  padding: 10px 0px;
  font-size: 20px;
}

.hero-content form :nth-child(1) {
  height: 60px;
  width: 450px;
  padding: 0px 10px;
  font-size: 18px;
  outline: none;
}

.hero-content form :last-child {
  height: 40px;
  background-color: red;
  padding: 0px 20px;
  /* font-size: 20px; */
  color: white;
  height: 60px;
  border: none;
  width: 171px;
  font-size: 18px;
}
.hero-content form :last-child:hover {
  background-color: rgba(255, 0, 0, 0.82);
}

.TV-block {
  /* border: 2px solid red; */
  background-color: black;
  color: white;
  position: relative;
  top: -100px;
  border-top: 10px solid #222;
  padding: 50px 100px;
  height: 428px;
  overflow: hidden;
}

.TV-content {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;

  top: 133px;
  left: 150px;
}

.TV-content h2 {
  font-size: 60px;
  padding: 10px 0px;
}

.TV-content h3 {
  font-size: 25px;
}
.TV-video {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 100px;
}

.TV-video img {
  position: absolute;
  width: 400px;
  left: -432px;
  bottom: -267px;
  z-index: 2;
}
.TV-video video {
  position: absolute;
  width: 290px;
  left: -379px;
  bottom: -194px;
  z-index: 1;
}
/* second block */
.second-part {
  position: relative;
  border-top: 10px solid #222;
  height: 317px;
  background-color: black;
  top: -101px;
  padding: 8px;
}
.tv-content {
  color: white;
  position: absolute;
  top: 71px;
  right: 233px;
  /* color: white; */
  /* border: 5px solid red; */
  /* background-color: black; */
}

.tv-content h2 {
  font-size: 30px;
  padding: 10px 0px;
}
.mobile-logo {
  width: 269px;
  height: 280px;
  position: relative;
  top:16px;
  left: 517px;
  /* border: 5px solid red ; */
  /* background-image: url("image/mobile-logo.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.mobile-logo img {
  width: 344px;
  height: 270px;
  top: 10;
  position: absolute;
  top: -23px; 
} 
.mobile-img {
  background-color: rgb(10, 8, 8);
  border-radius: 23px;
  display: inline-block;
  width: 260px;
  height: 90px; 
  border: 1px solid rgb(158, 149, 149);
  position:relative;
  top: -103px;
  left: 573px;

}
.mobile-img img {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 87px;
  padding: 3px;
  color: aqua;

  border-radius: 12px;
  bottom: -1px;
}
.mobile-img h5 {
font-size: 15px;
color: red;
position: relative;
top: 22px;
left: 75px;
pad
}
.mobile-img h4 {
font-size: 15px;
color: blue;
position: relative;
top: 0px;
left: 77px;
}
/* third part */
    .third-part {
            background-color: black;
            position: relative;
            top: -102px;
            height: 300px;
            border-top: 10px solid #222;
        }
        .third-part .third-content {
            position: absolute;
            top: 80px;
            left: 443px;
            /* border: 2px solid red; */
            color: white;
        } 
        .third-part .third-content h1 {
            font-size: 30px;
            font-weight: bold;
        }
        .third-part .third-content h2 {
            font-size: 20px;
        }
        .third-part .third-tv {
            position: relative;
            height: 234px;
            width: 369px;
            /* border: 4px solid red; */
            top: 6px;
            left: 863px;
            right: 139px;
        }
        .third-tv img {
          /* border: 4px solid aqua; */
            position: absolute;
            top: -16px;
            left: -42px;
            width: 480px;
            height: 317px;
            z-index: 2;
        }
        .third-tv video {
/* 
            border: 5px solid aqua; */
            position: absolute;
            top: -52px;
            left: 49px;
            width: 303px;
            height: 270px;
            z-index: 1;
        }
/* fourt-part */
.fourt-part {
  position: relative;
  border-top: 10px solid rgb(77, 77, 77);
  /* border: 2px solid red; */
  top: -102px;
  height: 300px;
  background-color: black;
}
.fourt-part .fourt-content {
  position: absolute;
  top: 80px;
  right: 337px;
  color: white;
}
.fourt-part .fourt-content h1 {
  font-size: 32px;
  font-weight: bold;
}
.fourt-part .fourt-content h2 {
  font-size: 19px;
}
.fourt-part .fourt-img img {
  position: absolute;
  top: 32px;
  left: 566px;
  width: 321px;
  height: 251px;
}
/* five part */
.five-part {
  position: relative;
  top: -102px;
  /* border: 3px solid red; */
  height: 780px;
  color: white;
  background-color: black;
  border-top: 10px solid rgb(77, 77, 77);
}

.five-part .Question-menu {
  position: relative;
  top: 10px;
  left: 520px;
  /* border: 10px solid aqua; */
  height: 547px;
  width: 659px;
  padding: 10px 18px;
}

.five-part .Question-menu h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.five-part .Question-menu ul {
  /* border: 4px solid brown; */
  background-color: rgb(48, 48, 48);
}

.five-part .Question-menu ul li {
  /* border: 4px solid brown; */
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-top: 10px solid black;
  list-style-type: none;
}

/* ul .li-1:hover {
  background-color: aqua;

} */

.li-div1 {
  /* border: 10px solid red; */
  font-size: 18px;
  display: none;
}

.li-1:hover +.li-div1 {
  display: block;
}

/* ul .li-2:hover {
  background-color: aqua;

} */

.li-div2 {
  /* border: 10px solid red; */
  font-size: 18px;
  display: none;
}

.li-2:hover +.li-div2 {
  display: block;
}
.li-div3 {
  padding: 20px;
  display: none;
}
.li-3:hover + .li-div3 {
  display: block;
}
.li-div4 {
  padding: 13px;
  display: none;
}
.li-4:hover + .li-div4 {
  display: block;
}
.li-div5 {
  padding: 13px;
  display: none;
}
.li-5:hover + .li-div5 {
  display: block;
}
.li-div6 {
  padding: 13px;
  display: none;
}
.li-6:hover + .li-div6 {
  display: block;
}
.Question-menu form {
  margin-top: 31px;
   /* border: 10px solid red; */
    padding: 25px;
   }
.Question-menu form p {
  padding: 10px;
  }
.Question-menu form input {
  height: 40px;
   width: 376px;
   }
.Question-menu form button {
  height: 42px;
  width: 122px;
  background-color: red;
}
/* six part */
        .six-part-section {
            position: relative;
            top: -103px;
            border-top: 10px solid rgb(77, 77, 77);
            height: 600px;
            color: white;
            background-color: black;
        }
        .six-part-section .six-part {
              position: absolute;
              margin-bottom: 15px;
              height: 329px;
               width: 677px;
                top: 136px;
               left: 452px;
              padding: 30px;
        }
        table {
            margin-bottom:-4px;
            margin-top: 10px;
        }
        table tr td  {
            margin-top: 30px;
            /* border: 2px solid red; */
            padding: 10px 10px 0px 20px;
            
        }
        .languag {
            position: relative;
            border:1px solid #222;
            left: 27px;
            padding: 14px;
            width: 124px;
            margin-bottom: 10px;
            background-color: black;
            color: white;

        } 
        h6{
            position: relative;
            left: 25px;
            margin-top: 44px;
            margin-bottom: 0%;
            font-size: 15px;
        } 